.project-card-container{
    width: 239px;
    height: 135px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 13px;
    flex-shrink: 0;
}

.project-card-body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    background-color: #69B5F8;
    border-radius: 20px 20px 0px 0px;
    cursor: pointer;
}

.project-card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 0 15px 5px 15px;
    position: relative;
}

.project-card-footer {
    font-weight: 500;
}