.form-editor-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.create-from-action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    position: absolute;
    top: 10px;
    right: 30px;
    width: 300px;
    gap: 15px;
}

.form-preview-button {
    width: 163px;
    height: 40px;
    background-color: #c9def3ff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-save-button {
    width: 131px;
    height: 40px;
    background-color: #000000ff;
    border: none;
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
}

.form-question-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #f0f4f8ff;
    overflow-y: auto;
    gap: 20px;
    position: relative;
}

.question-section {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
    border-radius: 12px;
    height: auto;
    gap: 20px;
}

.create-form-image-upload-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    backdrop-filter: blur(3px);
    z-index: 1000;
    padding: 50px 90px;
}

.create-form-image-upload-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 43px;
    font-size: 25px;
    font-weight: 500;
}

.create-form-image-upload-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 5px;
    margin-top: 30px;
    border-radius: 12px;
    border: 2px dashed #000000;
}

.create-form-image-upload-body h3 {
    font-size: 25px;
    font-weight: 600;
    color: #000000;
}

.create-form-image-upload-body p {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.create-form-image-upload-body input[type="file"] {
    appearance: none;
    background-color: #03A9F4;
    width: 110px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
}

.create-form-image-upload-body input[type="file"]::file-selector-button {
    display: none;
}

.create-form-image-upload-input::before {
    content: 'Upload Image';
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 28px;
}

.create-form-video-upload-input::before {
    content: 'Upload Video';
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 28px;
}