.settings-section {
    padding: 10px 90px 20px 90px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-size: 0.9rem;
}

.settings-section h5 {
    margin-bottom: 20px;
    font-size: 1.1rem;
    font-weight: 600;
}

.settings-preferences {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.settings-preferences div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1F2937;
    font-size: 0.95rem;
}

.settings-preferences select {
    color: #4B5563;
    background-color: transparent;
    border: none;
    font-size: 0.9rem;
}